<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comforter&family=Source+Serif+4:ital,wght@1,200&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css">
	<link rel="shortcut icon" href="../static/kisspng-python-logo-programmer-fierce-python-cliparts-5ab7bde1738eb3.0871706315219911374733.jpg" type="image/x-icon">
	<title>Функции</title>
</head>
<body>
	<header>
		<div class="bg_header">
			<div class="name_site">
				<span style="color: black;text-decoration: none; font-size: 23px;"><a href="index.html" >Точка входа в программирование</a></span>
				<Span style="margin-left: 330px; font-size: 35px; color: black;"><a href="index.html" >Python</a></Span>
				<span style="color: black;text-decoration: none; margin-left: 295px; font-size: 23px;"><a href="vocabulary.html" >Словарь</a></span>
				<span style="color: black;text-decoration: none; margin-left: 20px; font-size: 23px;"><a href="page_with_cycles.html" >Циклы</a></span>
				<span style="color: black;text-decoration: none; margin-left: 20px; font-size: 23px;"><a href="page_with_defs.html" ></span>Хункции</a>
			</div>
		</div>
	</header>

	<hr>

	<div class="main_page">
		<div class="bg_main_page">
			<div class="page_text">
				<div class="article1_name">
					Хункции в Pyrhon записываются как <br> def- ключевое слово <br>
					 F - название ффункции <br>
					 (x, y...) - параметры функции :

				</div>
				<div class="article1_text">
					<p>Каждая функция может иметь название и произвольное количество параметров, которые указываются в начале; <br> В блоке функции программист описывает скрипт, который впоследствие можно использовать не как переменную с данными, а как функцию с определенным кодом, способный провести некоторые операции с указанными переменными (в данном случае x и y).
					</p>
				</div>
			</div>
		</div>

		<div class="code_example">
			<div class="code_block">
				<pre>
					def my_func(x, y):
						print(x + y) # выполняется сложение параметров
						print(x * y) # выполяется умножение параметров
					print(my_func(3, 4))
				</pre>
			</div>
			<div class="text_example">
				Обратите внимание на то, что переменные x и y не указываются до вызова перемнной, им прививают значиение после создания и вызова функции
			</div>
			<div class="console_block">
				<pre>
					>>> 7
					>>> 12
				</pre>
			</div>
		</div>

	</div>

	<hr>

	<footer>
		<div class="bg_footer">
			<a href="https://vk.com/pujge" style="margin-left: 50px; font-size: 30px;">Разработчик</a>
			<p style="margin-left: 830px; margin-top: -25px; margin-bottom: -10px ; color:#262626;">*Это пособие лишь является облегченным учебником <br> для тех, кто хочет попробовать себя <br> в программировании и войти в эту непростую профессию c нуля</p>
		</div>
	</footer>
</body>
</html>
